{
    "odoo_path": "/path/to/odoo",
    "python_path": "/usr/bin/python3",
    "addons_paths": [
    "path/to/addons"
    ],
    "stubs": [
        "$HOME/.local/share/nvim/odoo/typeshed/stubs"
    ]
}
